@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import "./fonts.css";
@import "./colors.css";
@import "./spacing.css";

@theme {
  /* Border radius tokens */
  --radius: 12px;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Font families */
  --font-sf-display: "SFDisplay", sans-serif;
  --font-sf-text: "SFText", sans-serif;

  /* Colors */
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --color-primary: var(--color-blue-60);
  --color-primary-foreground: var(--color-blue-10);
  --color-accent: var(--color-blue-20);
  --color-accent-foreground: var(--color-blue-90);
  --color-muted-foreground: var(--color-gray-20);
  --color-destructive: var(--color-red-10);
  --color-destructive-foreground: var(--color-blue-10);
  --color-border: var(--color-blue-30);
  --color-ring: var(--color-blue-60);
}

@layer base {
  * {
    @apply border-border m-0 scroll-smooth p-0;
  }
}

@layer utilities {
  main {
    @apply font-sf-text m-6 flex flex-col;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight md:text-[40px];
  }

  h2 {
    @apply text-2xl font-bold tracking-tight md:text-4xl;
  }

  h3 {
    @apply text-xl font-semibold tracking-tight md:text-[32px];
  }

  h4 {
    @apply text-xl font-semibold tracking-tight md:text-2xl;
  }

  p,
  li {
    @apply text-base leading-7 md:text-2xl;
  }

  ul {
    @apply list-disc pl-6;
  }

  li:not(:first-child) {
    @apply pt-6;
  }

  .large {
    @apply text-2xl font-extrabold tracking-tight md:text-5xl lg:text-6xl xl:text-8xl;
  }

  .small {
    @apply text-sm leading-none font-medium;
  }

  .muted {
    @apply text-muted-foreground text-sm;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
